/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.form-note {
  padding: 0px;
  display: flex;
  margin: 0px
}

.notes-modal {
  position: absolute;
  top: 17.5%;
  padding: 0px;
  margin-top: 0px;
}

.input-note {
  width: 100%;
  background-color: var(--background-primary);

  font-size: 15px;

  flex-grow: 1;

  padding: 22px;
  margin-bottom: 140px;
  margin: 0px;

  ::placeholder { color: var(--text-faint); };

  resize: vertical;

  border: 0px;
  border-bottom: 1px solid #353535; 
}

.upload-note {
  padding: 19px 15px 19px 15px;
  border-radius: 0px;
  border: 2px gray inset;
  border-left: 0px;
  border-right: 0px;
}

.search-note {
  padding: 19px 15px 19px 15px;
  border-radius: 0px;
  border: 1px gray inset;
  border-left: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.notes-div {
  max-height: 500px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: scroll;
  overflow-x: clip;
}

.note-div {
  margin: 0px 1px 0px 0px;
  padding: 12px 10px 12px 20px;
  border-radius: 2px;
  border-top: solid 0.2px;
  border-bottom: solid 0.2px;
  border-left: 0px;
  border-right: 0px;
  border-color: var(--interactive-hover);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transform: scale(1);
  transition-duration: 100ms;
}

.note-div:hover {
  background-color:#2d2d2d;
  border: 1px solid var(--interactive-accent-hover);
  transform: scale(1.02);
  transition-duration: 200ms;
  z-index: 15;
}

.note-div:focus {
  background-color:#2d2d2d;
  border: 1px solid var(--interactive-accent-hover);
  transform: scale(1.02);
  transition-duration: 200ms;
  z-index: 15;
}

.note-title {
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.note-desc {
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.delete-button {
  padding: 5px;
  cursor: pointer;
  padding: 3px 12px 3px 12px;
  z-index: 100;
  background-color: rgba(255, 0, 0, 0.151);
}

.setting-checkbox {
  width: 100px;
}

.notes-export-btn {
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 15px
}



.export-modal {
  z-index: 100;
}

.export-path-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.export-path-input {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.export-export-btn {
  font-weight: 600;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px
}

.export-browse-btn {
  margin-left: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.export-error {
  color: var(--text-error);
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-left: 4px
}